# General / OS
*.swp
.DS_Store

# Local Binaries
kind
kind.exe

# MySQL runtime data
docker/mysql/mysql-data/

# Docker
docker/node_modules/
docker/*.log

# Moodle runtime data
docker/moodledata/

# Kubernetes
kubernetes/php/*secret*.yaml
kubernetes/nginx/*secret*.yml
kubernetes/mysql/*secret*.yml

# Terraform
terraform/.terraform/
terraform/*.tfvars
terraform/*.tfvars.json
terraform/*.tfstate
terraform/*.tfstate.backup
