
#Terraform
terraform/.terraform/
terraform/*.tfvars
terraform/*.tfvars.json
terraform/*.tfstate
terraform/*.tfstate.backup

#Docker
docker/node_modules/
docker/*.log

#Kubernetes
kubernetes/php/secrets.yaml
kubernetes/nginx/secrets.yml
kubernetes/mysql/secrets.yml

#General
*.swp
.DS_Store
kind
kind.exe
