# General / OS
*.swp
.DS_Store

# Local Binaries
/kind
kind.exe

# MySQL runtime data
docker/mysql/mysql-data/

# Docker
docker/node_modules/
docker/*.log

# Moodle runtime data
docker/moodledata/

# Kubernetes
kubernetes/kind/mysql/secret.yaml
kubernetes/gcp-gke/mysql/secret.yaml
kubernetes/gcp-gke/php/secret.yaml

# Terraform
terraform/**/.terraform/
terraform/**/*.tfvars
terraform/**/*.tfvars.json
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/crash.log
terraform/**/crash.*.log
terraform/**/*.tfplan
